/.gradle/
/.idea/
/.mixin.out/
/build/
/config/
/logs/
/mods/
/resourcepacks/
/run/
/saves/
/postman/

options.txt
usercache.json
usernamecache.json
.classpath
.settings/
bin/
src/main/java/META-INF/
